img {
  width: 100%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 6px;
}

img.projects {
  float: right;
  width: 33%;
  margin-left: 1%;
  margin-bottom: 1%;
}

/* style all code/technology text referenced in web dev project descriptions */
span.tech {
  font-family: monospace;
  background-color: rgb(235, 235, 235);
  text-transform: uppercase;
}

h1, h2, h3 {
  color: #23527c !important;
}

.jumbotron {
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(230, 230, 230);
}

footer {
  padding-top: 3%;
  text-align: center;
  color: rgb(200, 200, 200);
}